<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hello!
    </p>
    <p>
      Thanks for signing up for Hopefully Sunny! I'm really excited to be sending you the weather
      every morning. Unfortunately, there's just one more step for signup - I need you to click on
      the link below to confirm your account.
    </p>
    <p><strong>http://hopefullysunny.us{{ confirmation_link }}</strong></p>
    <p>
      Let us know if we can ever help with anything, and thanks again for signing up.
    </p>
    <p>
    Hope it's sunny where you are!
    </p>
    <p>
      -- The Hopefully Sunny Team
    </p>
	<p>
		If you did not sign up for this email or changed your mind, don't worry - we won't send you anything else unless you click the confirmation link above.
	</p>
  </body>
</html>
