{% extends 'base.html' %}
{% block title %}Signup Sent{% endblock %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body white-panel">

        	<h1>Your Email is Now Confirmed</h1>
        	<p>
        		You should start receiving emails tomorrow morning!
        	</p>
        	<p> If you don't receive the email or have any trouble, <a href="mailto:hopefullysunnyapp@gmail.com">drop us a line</a> 
        		and we will do our best to help.
        	</p>
	
        </div>
    </div>
</div>

{% endblock content %}
