{% extends 'base.html' %}
{% block title %}Uh-Oh.{% endblock %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body white-panel">

        	<h1>Houston, we have a problem...</h1>
        	<p>
        		Something went wrong when we tried to sign you up.
        	</p>
        	<p>
        		Feel free to <a href="mailto:hopefullysunnyapp@gmail.com">drop us a line</a> and we'll help you out.
        	</p>
	
        </div>
    </div>
</div>

{% endblock content %}
