{% extends 'base.html' %}

{% block title %}Update My Preferences{% endblock title %}

{% block content %}

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body white-panel">
	
			<form action="" method="POST" class="form-inline" role="form">

				{% if form.errors %}
					<div class="alert alert-danger">
					{% if form.email.errors %}<p>{{ form.email.errors.as_text|cut:"* " }}</p>{% endif %}
					</div>
				{% endif %}

				<h1>Send Me an Update Link</h1>

				<p class="dialog">
					Enter your email address and we'll send you a link you can use to update
					your preferences.
				</p>

				<div class="form-group {% if form.email.errors %}has-error{% endif %}">
					{{ form.email }}
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-default">Send Link</button>
				</div>

				{% csrf_token %}

			</form>	

		</div><!-- /.panel-body -->
	</div><!-- /.panel -->
</div><!-- .container -->

{% endblock content %}