<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Hi!
    </p>
    <p>
      You (or someone pretending to be you) requested a link to update your preferences at HopefullySunny. Use the link below to update your location:
    </p>
    <p><strong>http://hopefullysunny.us{{ update_link }}</strong></p>
    <p>
      If you didn't request the link, don't worry. You can safely ignore this email and nothing will change.
    </p>
    <p>
    Hope it's sunny where you are!
    </p>
    <p>
      -- The Hopefully Sunny Team
    </p>
  </body>
</html>